
div
{
	box-sizing:border-box;
}
.to-the-left
{
	float:left;
	padding-left:2px;
}
.to-the-right
{
	float:right;
	right:10px;
}
.clear
{
	float:none;
	clear:both;
}

.hidden
{
	visibility:hidden;
}

.custom-title-bar
{
	margin-bottom:20px;
}