
div
{
	box-sizing:border-box;
}
.to-the-left
{
	float:left;
	padding-left:2px;
}
.to-the-right
{
	float:right;
	right:10px;
}
.clear
{
	float:none;
	clear:both;
}

.hidden
{
	visibility:hidden;
}

.custom-title-bar
{
	margin-bottom:20px;
}
.widget-settings
{
	width:130px;
	background:#fff;
	padding:5px;
	position:absolute;
	z-index:10;
	margin-top:10px;
}
.widget-settings ul
{
	font-size:10px;
	list-style-type:none;
}
.settings-ul
{
	display:none;
}
.settings-ul li:hover
{
	background:#333;
	color:#fff;
}
.widget-settings .close
{
	position:relative;
	right:5px;
}